<table class="table table-striped">
	<thead>
		<tr>
			<th>Claim type</th>
			<th>Added on</th>
			<th>Updated on</th>
			<% if current_user.is_admin %>
				<th>Actions</th>
			<% end %>
		</tr>
	</thead>

	<tbody>
		<% if @claim_types.empty? %>
			<tr>
				<td colspan="6" align="center">No claim types available.</td>
			</tr>
		<% else %>
			<% @claim_types.each do |lt| %>
				<tr>
					<td><%= lt.claim_type %></td>
					<td><%= time_ago_in_words(lt.created_at) %> ago</td>
					<td><%= time_ago_in_words(lt.updated_at) %> ago</td>
					<% if current_user.is_admin %>
						<td>
							<%= link_to edit_claim_type_path(lt, luid: params[:luid]), class: 'btn btn-primary btn-xs' do %>
								<%= content_tag :i, '', :class => 'fa fa-pencil' %> Edit
							<% end %>

							<%= link_to claim_type_path(lt, luid: params[:luid]), class: 'btn btn-danger btn-xs', data: { method: :delete, remote: true, confirm: 'Are you sure you want to delete claim type?' } do %>
								<%= content_tag :i, '', :class => 'fa fa-trash' %> Delete
							<% end %>
						</td>
					<% end %>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>