$('#expense-categories-list').html("<%= j(render partial: 'expense_categories/partials/list') %>");

$('.alert-message').html("<%= j(render partial: 'partials/alert_message') %>");
fadeOutFlash();

<% flash[:notice] = nil %>