<section class="content-header">
  <div class="alert-message">
    <%= render partial: 'partials/alert_message' %>
  </div>

  <h1>
    <i class="fa fa-clock-o"></i> Expense Categories Management
  </h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<%= render partial: 'expense_categories/partials/form' %>
			</div>
		</div>
	</div>
</section>