<div class="modal fade" id="add-item-modal" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <%= button_tag type: 'button', class: 'close', data: { dismiss: 'modal' }, aria: { label: 'close' } do %>
          <%= content_tag :span, 'x', aria: { hidden: true } %>
        <% end %>
        <h4 class="modal-title">Add item</h4>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label>Expense Date</label>

          <div class="input-group date">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>

            <%= text_field_tag 'expense_date', nil, class: 'form-control' %>
          </div>
        </div>
        
        <div class="form-group">
          <label>Category</label>

          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-list"></i>
            </div>
            
            <%= select_tag 'category', options_for_select(ExpenseCategory.all.map{ |ec| [ec.category_name, ec.category_name] }), class: 'form-control' %>
          </div>
        </div>
        
        <div class="form-group">
          <label>Description</label>

          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-align-left"></i>
            </div>

            <%= text_area_tag 'description', '', class: 'form-control', placeholder: 'Expense description', cols: 30, rows: 5 %>
          </div>
        </div>

        <div class="form-group">
          <label>Cost</label>

          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-money"></i>
            </div>

            <%= text_field_tag 'cost', nil, class: 'form-control', placeholder: 'Cost' %>
          </div>
        </div>
      </div>
      
      <div class="modal-footer">
        <%= button_tag 'Close', class: 'btn btn-default pull-left', data: { dismiss: 'modal' } %>
        <%= button_tag 'Add Expense', class: 'btn btn-primary', id: 'create-item-btn', data: { dismiss: 'modal' } %>
      </div>
    </div>
  </div>
</div>