<div class="modal fade" id="expenses-modal" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <%= button_tag type: 'button', class: 'close', data: { dismiss: 'modal' }, aria: { label: 'close' } do %>
          <%= content_tag :span, 'x', aria: { hidden: true } %>
        <% end %>
        <h4 class="modal-title">Expenses</h4>
      </div>

      <div class="modal-body table-responsive" id="expenses-list">
        <%= render partial: 'claims_and_reimbursements/partials/expenses_list' %>
      </div>
      
      <div class="modal-footer">
        <%= button_tag 'Close', class: 'btn btn-default pull-left', data: { dismiss: 'modal' } %>
      </div>
    </div>
  </div>
</div>