<table class="table table-hover">
  <thead>
    <tr>
      <th>Date</th>
      <th>Category</th>
      <th>Description</th>
      <th>Cost</th>
    </tr>
  </thead>

  <tbody>
    <% unless @expenses.nil? %>
      <% if @expenses.empty? %>
        <tr>
          <td colspan="4">No expenses available.</td>
        </tr>
      <% else %>
        <% @expenses.each do |expense| %>
          <tr>
            <td><%= expense.expense_date %></td>
            <td><%= expense.category %></td>
            <td><%= expense.description %></td>
            <td><%= expense.cost %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>

    <tr>
      <td colspan="3"><strong>TOTAL</strong></td>
      <td><u><%= @total_expenses %></u></td>
    </tr>
  </tbody>
</table>