<%= form_for @claim_and_reimbursement, url: claims_and_reimbursements_path, html: { id: 'claim-and-reimbursement-form' } do |v| %>
  <div id="hidden-fields">
    <%= hidden_field_tag :user_id, current_user.id %>
    <%= hidden_field_tag :luid, params[:luid] %>
  </div>

  <div class="box-header with-border">
    <h3 class="box-title">Application Form</h3>
    <div class="box-tools">
      <%= link_to 'Back', claims_and_reimbursements_path(luid: params[:luid]), class: 'btn btn-default' %>
    </div>
  </div>

  <div class="box-body">
    <div class="form-group">
      <label>Application Type</label>

      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-list"></i>
        </div>

        <%= select_tag 'claim_and_reimbursement[application_type]', options_for_select(['Claim', 'Reimbursement']), class: 'form-control', id: 'application-type' %>
      </div>
    </div>

    <div class="form-group">
      <label>Type</label>

      <div class="input-group date">
        <div class="input-group-addon">
          <i class="fa fa-list"></i>
        </div>

        <div id="type"></div>
      </div>
    </div>
    
    <div class="form-group">
      <label>Purpose of Expense</label>

      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-align-left"></i>
        </div>

        <%= text_area_tag 'claim_and_reimbursement[purpose_of_expense]', nil, class: 'form-control', placeholder: 'Purpose of Expense', cols: 30, rows: 5 %>
      </div>
    </div>

    <div class="form-group">
      <label>Period Start</label>

      <div class="input-group date">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>

        <%= text_field_tag 'claim_and_reimbursement[period_start]', nil, class: 'form-control', id: 'period-start' %>
      </div>
    </div>

    <div class="form-group">
      <label>Period End</label>

      <div class="input-group date">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>      

        <%= text_field_tag 'claim_and_reimbursement[period_end]', nil, class: 'form-control', id: 'period-end' %>
      </div>
    </div>

    <div class="form-group">
      <label>
        Itemized Expenses
        &nbsp;

        <%= link_to '#', id: 'add-item-btn', class: 'btn btn-success btn-xs', data: { toggle: 'tooltip' }, title: 'Add Item' do %>
          <%= content_tag :i, '', class: 'fa fa-plus' %>
        <% end %>
      </label>

      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Date</th>
              <th>Description</th>
              <th>Category</th>
              <th>Cost</th>
              <th></th>
            </tr>
          </thead>

          <tbody id="expenses-list"></tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="box-footer">
    <div class="pull-right">
      <%= submit_tag 'Submit', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<%= render partial: 'claims_and_reimbursements/partials/add_item_form_modal' %>

<script>
  var populate_types_claims_and_reimbursements_path = "<%= j(populate_types_claims_and_reimbursements_path) %>";
  var luid = "<%= j(params[:luid]) %>";
</script>