<table class="table table-hover">
  <thead>
    <tr>
      <th>Employee</th>
      <th>Application Type</th>
      <th>Claim/Reimbursement Type</th>
      <th>Purpose</th>
      <th>Date Filed</th>
      <th>Period</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody id="cr-list">
    <% if @crs.empty? %>
      <tr>
        <td colspan="8" align="center">No claims and reimbursements applications available.</td>
      </tr>
    <% else %>
      <% @crs.each do |cr| %>
        <tr>
          <td><%= cr.user.username %> : <%= cr.user.id %></td>
          <td><%= cr.application_type %></td>
          <td><%= cr.cr_type %></td>
          <td><%= cr.purpose_of_expense %></td>
          <td><%= cr.date_filed %></td>
          <td><%= cr.period_start %> - <%= cr.period_end %></td>
          <td class="<%= cr.cr_status.downcase %>"><%= cr.cr_status.upcase %></td>
          <td>
            <% if current_user.is_admin || current_user.eql?(cr.user) %>
              <%= link_to expenses_claims_and_reimbursement_path(cr, luid: params[:luid]), class: 'view-expenses btn btn-info btn-xs', data: { id: cr.id, remote: true } do %>
                <%= content_tag :i, '', class: 'fa fa-list' %> View Expenses
              <% end %>
            <% end %>

            <% if current_user.is_admin && !current_user.eql?(cr.user) && cr.cr_status.eql?('PENDING') %>
              <%= link_to 'Approve', claims_and_reimbursement_path(cr, uaction: 'approve', luid: params[:luid]), class: 'btn btn-success btn-xs', data: { method: :patch, confirm: 'Are you sure you want to approve this file?' } %>
              <%= link_to 'Disapprove', claims_and_reimbursement_path(cr, uaction: 'disapprove', luid: params[:luid]), class: 'btn btn-danger btn-xs', data: { method: :patch, confirm: 'Are you sure you want to disapprove this file?' } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>