<table class="table table-striped">
	<thead>
		<tr>
			<th>Type</th>
			<th>Status</th>
			<th>Date Filed</th>
			<th>Leave Date</th>
		</tr>
	</thead>

	<tbody>
		<% if @user.leave_applications.empty? %>
			<tr>
				<td colspan="6" align="center">No leave applications available.</td>
			</tr>
		<% else %>
			<% @user.leave_applications.each do |leave| %>
				<tr>
					<td><%= leave.leave_type.nil? ? 'N/A' : leave.leave_type.leave_type %></td>
					<td class="<%= leave.leave_status.downcase %>" ><%= leave.leave_status.upcase %></td>
					<td><%= leave.leave_filed_date %></td>
					<td><%= leave.leave_start_date %> - <%= leave.leave_end_date %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>