<table class="table table-hover">
  <thead>
    <tr>
      <th>Leave Type</th>
      <th>Remaining Leaves</th>
    </tr>
  </thead>

  <tbody>
    <% unless @leaves.nil? %>
      <% if @leaves.empty? %>
        <tr>
          <td colspan="4">No leaves available.</td>
        </tr>
      <% else %>
        <% @leaves.each do |leave| %>
          <tr>
            <td><%= leave.leave_type.nil? ? 'N/A' : leave.leave_type.leave_type %></td>
            <td><%= leave.remaining_leaves %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>