$('#holidays-list').html("<%= j(render partial: 'company_holidays/partials/list') %>");

$('.alert-message').html("<%= j(render partial: 'partials/alert_message') %>");
fadeOutFlash();

<% flash[:notice] = nil %>