<table class="table table-striped">
	<thead>
		<tr>
			<th>Date</th>
			<th>Start Time</th>
			<th>End Time</th>
			<th>Regular Hours</th>
			<th>Status</th>
			<th>Overtime Hours</th>
		</tr>
	</thead>

	<tbody>
		<% if current_user.timesheets.empty? %>
			<tr>
				<td colspan="6" align="center">No timesheets available.</td>
			</tr>
		<% else %>
			<% current_user.timesheets.each do |t| %>
				<tr>
					<td><%= t.date %></td>
					<td><%= format_time(t.start_time) %></td>
					<td><%= format_time(t.end_time) %></td>
					<td><%= t.regular_hours %></td>
					<td><%= t.timesheet_status %></td>
					<td><%= t.overtime_hours %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>