$('#reimbursement-types-list').html("<%= j(render partial: 'reimbursement_types/partials/list') %>");

$('.alert-message').html("<%= j(render partial: 'partials/alert_message') %>");
fadeOutFlash();

<% flash[:notice] = nil %>