<section class="content-header">
  <h1>
    <i class="fa fa-clock-o"></i> Reimbursement Types Management
  </h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<%= render partial: 'reimbursement_types/partials/form' %>
			</div>
		</div>
	</div>
</section>