<%= form_for @user, url: shifts_and_schedule_path(@user), method: :patch do |v| %>
	<%= hidden_field_tag :luid, params[:luid] %>

	<div class="box-header with-border">
		<h3 class="box-title">Shift and Schedule Form 
			&nbsp;
			<span>
				<%= link_to '#', class: 'btn btn-success btn-sm', title: 'Add Schedule', id: 'add-schedule-btn' do %>
					<%= content_tag :i, '', class: 'fa fa-plus' %>
				<% end %>
			</span>
		</h3>
		<div class="box-tools">
			<%= link_to 'Back', shifts_and_schedule_path(@user, luid: params[:luid]), class: 'btn btn-default' %>
    </div>
	</div>

	<div class="box-body" id="schedules"></div>

	<div class="box-footer">
		<div class="pull-right">
			<%= v.submit 'Update Schedule', class: 'btn btn-primary' %>
    </div>
	</div>
<% end %>

<script>
	var schedules_shifts_and_schedule_path = "<%= j(schedules_shifts_and_schedule_path(params[:id])) %>";
	var shifts_and_schedule_path = "<%= j(shifts_and_schedule_path(@user)) %>";
	var luid = "<%= j(params[:luid]) %>";
	var days = ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun'];
</script>