<table class="table table-striped">
	<thead>
		<tr>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Start Time</th>
			<th>End Time</th>
			<th>On Duty Days</th>
			<th>Off Duty Days</th>
		</tr>
	</thead>

	<tbody>
		<% if @user.schedules.empty? %>
			<tr>
				<td colspan="6" align="center">No schedules available.</td>
			</tr>
		<% else %>
			<% @user.schedules.each do |sched| %>
				<tr>
					<td><%= sched.start_date %></td>
					<td><%= sched.end_date %></td>
					<td><%= sched.start_time %></td>
					<td><%= sched.end_time %></td>
					<td><%= sched.onduty_days %></td>
					<td><%= sched.offduty_days %></td>
				</tr> 
			<% end %>
		<% end %>
	</tbody>
</table>