<section class="content-header">
  <div class="alert-message">
    <%= render partial: 'partials/alert_message' %>
  </div>

  <h1>
    <i class="fa fa-list"></i> Claims and Reimbursements Management
  </h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Claims and Reimbursements List</h3>
          <div class="box-tools">
            <%= link_to 'File New Application', new_claims_and_reimbursement_path(luid: params[:luid]), class: 'btn btn-primary' %>
          </div>
        </div>

        <div class="box-body table-responsive">
          <%= render partial: 'claims_and_reimbursements/partials/list' %>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render partial: 'claims_and_reimbursements/partials/expenses_modal' %>