<section class="content-header">
  <div class="alert-message">
    <%= render partial: 'partials/alert_message' %>
  </div>

  <h1>
    <i class="fa fa-file"></i> New Application
  </h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <%= render partial: 'claims_and_reimbursements/partials/form' %>
      </div>
    </div>
  </div>
</section>