<% if flash[:notice].present? || flash[:alert].present? %>
	<div class="alert alert-<%= alert_type %> alert-dismissible" id="flash">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-<%= flash[:notice].present? ? 'check' : 'ban' %>"></i> <%= message_type %> Message!</h4>
    <%= display_alert %>
  </div>
<% end %>