<header class="main-header">
  <a href="<%= root_path %>" class="logo">
    <span class="logo-mini"><b>ASDI</b></span>
    <span class="logo-lg"><b>MSIT ASDI</b></span>
  </a>

  <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">        
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!-- <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image"> -->
            <span class="hidden-xs"><%= current_user.username %></span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <!-- <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image"> -->
              <p>
                <%= current_user.username %> - <%= current_user.is_admin ? 'Administrator' : 'Employee' %>
                <small>Member since <%= current_user.created_at.strftime('%B %Y') %></small>
              </p>
            </li>

            <!-- Menu Body -->
            <!-- <li class="user-body">
              <div class="row">
                <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                </div>

                <div class="col-xs-4 text-center">
                  <a href="#">Sales</a>
                </div>

                <div class="col-xs-4 text-center">
                  <a href="#">Friends</a>
                </div>
              </div> 
            </li> -->

            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a href="<%= timesheets_path(luid: params[:luid]) %>" class="btn btn-default btn-flat">My Timesheets</a>
              </div>
              <div class="pull-right">
                <a href="<%= logout_users_path(luid: params[:luid]) %>" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>