<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
        <li id="menu-employees-list"><a href="<%= users_path(luid: params[:luid]) %>"><i class="fa fa-user"></i> Employees List</a></li>

        <li class="treeview" id="menu-human-resource">
          <a href="#">
            <i class="fa fa-users"></i>
            <span>Human Resource</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>

          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> Recruitment</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Applicant Management</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> New Hire on Board</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Performance Management</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Social Recognition</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Competency Management</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Training Management</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Succession Planning</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Employee Self Service</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Learning Management</a></li>
            
            <li class="treeview" id="menu-leave-management">
              <a href="#">
                <i class="fa fa-circle-o"></i> 
                <span>Leave Management</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>

              <ul class="treeview-menu">
                <li id="menu-leaves"><a href="<%= leaves_path(luid: params[:luid]) %>"><i class="fa fa-circle-o"></i> Leaves</a></li>
                <li id="menu-leave-types"><a href="<%= leave_types_path(luid: params[:luid]) %>"><i class="fa fa-circle-o"></i> Leave Types</a></li>
              </ul>
            </li>

            <li class="treeview" id="menu-time-and-attendance">
              <a href="#">
                <i class="fa fa-circle-o"></i> 
                <span>Time and Attendance</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>

              <ul class="treeview-menu">
                <li id="menu-calendar"><a href="<%= calendar_time_and_attendance_path(current_user, luid: params[:luid]) %>"><i class="fa fa-circle-o"></i> My Calendar</a></li>
                <li id="menu-company-holidays"><a href="<%= holidays_time_and_attendance_index_path(luid: params[:luid]) %>"><i class="fa fa-circle-o"></i> Company Holidays</a></li>
              </ul>
            </li>

            <li id="menu-shifts-and-schedules"><a href="<%= shifts_and_schedule_path(current_user, luid: params[:luid]) %>"><i class="fa fa-circle-o"></i> My Shifts and Schedules</a></li>

            <li class="treeview" id="menu-claims-and-reimbursements-management">
              <a href="#">
                <i class="fa fa-circle-o"></i> 
                <span>Claims and Reimbursements</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>

              <ul class="treeview-menu">
                <li id="menu-claims-and-reimbursements"><a href="<%= claims_and_reimbursements_path(luid: params[:luid]) %>"><i class="fa fa-circle-o"></i> Claims and Reimbursements</a></li>
                <li id="menu-claim-types"><a href="<%= claim_types_path(luid: params[:luid]) %>"><i class="fa fa-circle-o"></i> Claim Types</a></li>
                <li id="menu-reimbursement-types"><a href="<%= reimbursement_types_path(luid: params[:luid]) %>"><i class="fa fa-circle-o"></i> Reimbursement Types</a></li>
                <li id="menu-expense-categories"><a href="<%= expense_categories_path(luid: params[:luid]) %>"><i class="fa fa-circle-o"></i> Expense Categories</a></li>
              </ul>
            </li>

            <li id="menu-timesheets"><a href="<%= timesheets_path(luid: params[:luid]) %>"><i class="fa fa-circle-o"></i> My Timesheets</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Core Human Capital Management</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Human Resource Analysis</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Payroll</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Compensation Planning and Administration</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-money"></i>
            <span>Financials</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>

          <ul class="treeview-menu">
            <li><a href="http://54.208.5.179/Invoices?luid=<%= params[:luid] %>"><i class="fa fa-circle-o"></i> Invoices</a></li>
            <li><a href="http://54.208.5.179/Collections?luid=<%= params[:luid] %>"><i class="fa fa-circle-o"></i> Collections</a></li>
            <li><a href="http://54.208.5.179/Vouchers?luid=<%= params[:luid] %>"><i class="fa fa-circle-o"></i> Vouchers</a></li>
            <li><a href="http://54.208.5.179/Disbursements?luid=<%= params[:luid] %>"><i class="fa fa-circle-o"></i> Disbursement</a></li>
            <li><a href="http://54.208.5.179/Journals?luid=<%= params[:luid] %>"><i class="fa fa-circle-o"></i> General Journal</a></li>
            <li><a href="http://54.208.5.179/Ledgers?luid=<%= params[:luid] %>"><i class="fa fa-circle-o"></i> General Ledger</a></li>

            <li class="treeview">
              <a href="#">
                <i class="fa fa-circle-o"></i> 
                <span>Reports</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>

              <ul class="treeview-menu open" style="display: none;">
                <li><a href="http://54.208.5.179/Reports/TrialBalance?luid=<%= params[:luid] %>"><i class="fa fa-circle-o"></i> Trial Balance</a></li>
                <li><a href="http://54.208.5.179/Reports/BalanceSheet?luid=<%= params[:luid] %>"><i class="fa fa-circle-o"></i> Balance Sheet</a></li>
                <li><a href="http://54.208.5.179/Reports/IncomeStatement?luid=<%= params[:luid] %>"><i class="fa fa-circle-o"></i> Income Statement</a></li>
                <li><a href="http://54.208.5.179/?luid=<%= params[:luid] %>"><i class="fa fa-circle-o"></i> Cash Flow Statement</a></li>
                <li><a href="http://54.208.5.179/?luid=<%= params[:luid] %>"><i class="fa fa-circle-o"></i> Statement of Changes in Equity</a></li>
              </ul>
            </li>

            <li><a href="http://54.208.5.179/Home/About?luid=<%= params[:luid] %>"><i class="fa fa-circle-o"></i> About</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-users"></i>
            <span>Logistics</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>

          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> Procurement</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Warehousing</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Asset Management</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Project Management</a></li>
          </ul>
        </li>
    </ul>
  </section><!-- /.sidebar -->
</aside>