<section class="content-header">
  <div class="alert-message">
    <%= render partial: 'partials/alert_message' %>
  </div>

  <h1>
    <i class="fa fa-clock-o"></i> Employees Management
  </h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Employees List</h3>
				</div>

				<div class="box-body table-responsive">
					<%= render partial: 'users/partials/list' %>
				</div>
			</div>
		</div>
	</div>
</section>