<!DOCTYPE html>
<html style="height: auto;">
  <head>
    <title>Advanced System Design and Implementation | <%= params[:controller].humanize.capitalize %></title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'hris_mod_3' %>
    <%= stylesheet_link_tag "#{params[:controller]}" %>
    <%= stylesheet_link_tag "#{params[:controller]}/#{params[:action]}" %>
  </head>

  <body class="hold-transition login-page" cz-shortcut-listen="true">
    <div class="login-box">
      <div class="login-logo">
        <strong>ASDI</strong>
      </div>

      <div class="login-box-body">        
        <p class="login-box-msg">
          Sign in to start your session
        </p>

        <div class="alert-message">
          <%= render partial: 'partials/alert_message' %>
        </div>

        <form id="login-form">
          <div class="field form-group has-feedback">
            <%= text_field_tag :username, nil, class: 'form-control', placeholder: 'Username', autofocus: true %>
            <span class="fa fa-user-secret form-control-feedback"></span>
          </div>

          <div class="field form-group has-feedback">
            <%= password_field_tag :password, nil, class: 'form-control', placeholder: 'Password', autocomplete: 'off' %>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>

          <div class="row">
            <div class="col-xs-4">
              <div class="actions">
                <%= submit_tag "Sign in", :class => 'btn btn-primary btn-block btn-flat' %>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'hris_mod_3' %>
  <%= javascript_include_tag "#{params[:controller]}" %>
  <%= javascript_include_tag "#{params[:controller]}/#{params[:action]}" %>
</html>