<section class="content-header">
	<div class="alert-message">
		<%= render partial: 'partials/alert_message' %>
	</div>

  <h1>
    <i class="fa fa-clock-o"></i> Leave Types Management
  </h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Leave Types</h3>
					<div class="box-tools">
						<%= link_to 'Add Leave Type', new_leave_type_path(luid: params[:luid]), class: 'btn btn-primary' if current_user.is_admin %>
          </div>
				</div>

				<div class="box-body table-responsive" id="leave-types-list">
					<%= render partial: 'leave_types/partials/list' %>
				</div>
			</div>
		</div>
	</div>
</section>