<section class="content-header">
  <div class="alert-message">
    <%= render partial: 'partials/alert_message' %>
  </div>

  <h1>
    <i class="fa fa-list"></i> Leaves Management
  </h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Leaves List</h3>
          <div class="box-tools">
            <%= link_to 'File Leave', new_leafe_path(luid: params[:luid]), class: 'btn btn-primary' %>
            <%= link_to 'Leave Tracker', leave_tracker_shifts_and_schedule_path(current_user, luid: params[:luid]), class: 'btn btn-info' %>
          </div>
        </div>

        <div class="box-body table-responsive">
          <%= render partial: 'leaves/partials/list' %>
          <%= render partial: 'leaves/partials/reason_form_modal' %>
          <%= render partial: 'leaves/partials/reason_modal' %>
        </div>
      </div>
    </div>
  </div>
</section>