<section class="content-header">
  <h1>
    <i class="fa fa-clock-o"></i> Time and Attendance Management
  </h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Calendar</h3>

					<div class="box-tools">
						<%= link_to 'Back', users_path(luid: params[:luid]), class: 'btn btn-default' %>
			    </div>
				</div>

				<div class="box-body">
					<div id="calendar" style=" border: 2px solid #ddd;"></div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	var holidays = <%= raw @holidays.to_json %>;
	var attendance = <%= raw @attendance.to_json %>;
	var leaves = <%= raw @leaves.to_json %>;
</script>