<section class="content-header">
	<div class="alert-message">
		<%= render partial: 'partials/alert_message' %>
	</div>

  <h1>
    <i class="fa fa-clock-o"></i> Timesheets Management
  </h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Timesheets</h3>
					<div class="box-tools">
						<%= link_to "Time #{@action}", time_in_time_out_timesheet_path(current_user.id, luid: params[:luid]), class: 'btn btn-primary', id: 'action', data: { remote: true, method: :post, confirm: "Are you sure you want to time #{@action}?" } %>
          </div>
				</div>

				<div class="box-body table-responsive">
					<%= render partial: 'timesheets/partials/list' %>
				</div>
			</div>
		</div>
	</div>
</section>