$('.box-body').html("<%= j(render partial: 'timesheets/partials/list') %>");

<% unless @action.nil? %>
	$('#action').html("Time <%= j(@action) %>");
	$('#action').data('confirm', "Are you sure you want to time <%= j(@action) %>?");
<% end %>

$('.alert-message').html("<%= j(render partial: 'partials/alert_message') %>");
fadeOutFlash();

<% flash[:notice] = nil %>
<% flash[:alert] = nil %>
