<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Username</th>
			<th>Actions</th>
		</tr>
	</thead>

	<tbody>
		<% if @users.empty? %>
			<tr>
				<td colspan="3" align="center">No employees found.</td>
			</tr>
		<% else %>
			<% @users.each do |user| %>
				<tr>
					<td><%= user.id %></td>
					<td><%= user.username %></td>
					<td>
						<%= link_to shifts_and_schedule_path(user, luid: params[:luid]), class: 'btn btn-primary btn-xs' do %>
							<%= content_tag :i, '', class: 'fa fa-clock-o' %> View Schedules
						<% end %>
						<%= link_to calendar_time_and_attendance_path(user, luid: params[:luid]), class: 'btn btn-success btn-xs' do %>
							<%= content_tag :i, '', class: 'fa fa-calendar' %> Calendar
						<% end %>
						<%= link_to leave_tracker_shifts_and_schedule_path(user, luid: params[:luid]), class: 'btn btn-info btn-xs' do %>
							<%= content_tag :i, '', class: 'fa fa-list' %> Leave Tracker
						<% end %>
					</td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>