<%= form_for @leave_type do |v| %>
  <%= hidden_field_tag :luid, params[:luid] %>

	<div class="box-header with-border">
		<h3 class="box-title">Leave Type Form</h3>
    <div class="box-tools">
      <%= link_to 'Back', leave_types_path(luid: params[:luid]), class: 'btn btn-default' %>
    </div>
	</div>

	<div class="box-body">
    <div class="form-group">
      <%= v.label :leave_type %>

      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-list"></i>
        </div>

        <%= v.text_field :leave_type, class: 'form-control', required: true %>
      </div>
    </div>

		<div class="form-group">
      <%= v.label :leaves_per_user %>

      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-list"></i>
        </div>

        <%= v.text_field :leaves_per_user, class: 'form-control', required: true %>
      </div>
    </div>
	</div>

	<div class="box-footer">
		<div class="pull-right">
			<%= v.submit class: 'btn btn-primary' %>
    </div>
	</div>
<% end %>