<table class="table table-striped">
	<thead>
		<tr>
			<th>Leave type</th>
			<th>Leaves per user</th>
			<th>Added on</th>
			<th>Updated on</th>
			<% if current_user.is_admin %>
				<th>Actions</th>
			<% end %>
		</tr>
	</thead>

	<tbody>
		<% if @leave_types.empty? %>
			<tr>
				<td colspan="6" align="center">No leave types available.</td>
			</tr>
		<% else %>
			<% @leave_types.each do |lt| %>
				<tr>
					<td><%= lt.leave_type %></td>
					<td><%= lt.leaves_per_user %></td>
					<td><%= time_ago_in_words(lt.created_at) %> ago</td>
					<td><%= time_ago_in_words(lt.updated_at) %> ago</td>
					<% if current_user.is_admin %>
						<td>
							<%= link_to edit_leave_type_path(lt, luid: params[:luid]), class: 'btn btn-primary btn-xs' do %>
								<%= content_tag :i, '', :class => 'fa fa-pencil' %> Edit
							<% end %>

							<%= link_to leave_type_path(lt, luid: params[:luid]), class: 'btn btn-danger btn-xs', data: { method: :delete, remote: true, confirm: 'Are you sure you want to delete leave type?' } do %>
								<%= content_tag :i, '', :class => 'fa fa-trash' %> Delete
							<% end %>
						</td>
					<% end %>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>