.approved, .approve, .fulfilled{
	color: green;
	font-weight: bold;
}

.disapproved, .disapprove{
	color: red;
	font-weight: bold;
}

.pending{
	color: blue;
	font-weight: bold;
}

.canceled{
	color: orange;
	font-weight: bold;
}