<%= form_tag leaves_path, method: :post do %>
  <%= hidden_field_tag :user_id, current_user.id %>
  <%= hidden_field_tag :luid, params[:luid] %>

  <div class="box-header with-border">
    <h3 class="box-title">Leave Form</h3>
    <div class="box-tools">
      <%= link_to 'Back', leaves_path(luid: params[:luid]), class: 'btn btn-default' %>
    </div>
  </div>
  
  <div class="box-body">
    <div class="form-group">
      <label>Leave Type</label>

      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-list"></i>
        </div>

        <%= select_tag 'leave[leave_type]', options_for_select(LeaveType.all.map{ |lt| ["#{lt.leave_type} Leave", lt.id] }, @leave.leave_type), class: 'form-control', id: 'leave_type' %>
      </div>
    </div>
    
    <div class="form-group">
      <label>Reason for Leave</label>

      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-align-left"></i>
        </div>

        <%= text_area_tag 'leave[reason_for_leave]', nil, class: 'form-control', id: 'reason_for_leave', placeholder: 'Reason for leave', cols: 30, rows: 5, required: true %>
      </div>
    </div>

    <div class="form-group">
      <label>Start Leave Date</label>

      <div class="input-group date">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>

        <%= text_field_tag 'leave[start_date]', nil, class: 'form-control', id: 'start_date', required: true %>
      </div>
    </div>

    <div class="form-group">
      <label>End Leave Date</label>

      <div class="input-group date">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>

        <%= text_field_tag 'leave[end_date]', nil, class: 'form-control', id: 'end_date', required: true %>
      </div>
    </div>
  </div>

  <div class="box-footer">
    <div class="pull-right">
      <%= submit_tag 'Submit', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>