<table class="table table-hover">
  <thead>
    <tr>
      <th>Employee</th>
      <th>Type</th>
      <th>Reason</th>
      <th>Date Filed</th>
      <th>Leave Date</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% if @leaves.empty? %>
      <tr>
        <td colspan="7" align="center">No leave applications available.</td>
      </tr>
    <% else %>
      <% @leaves.each do |leave| %>
        <tr>
          <td><%= leave.user.username %> : <%= leave.user.id %></td>
          <td><%= leave.leave_type.nil? ? 'N/A' : leave.leave_type.leave_type %></td>
          <td><%= leave.reason_for_leave %></td>
          <td><%= leave.leave_filed_date %></td>
          <td><%= leave.leave_start_date %> - <%= leave.leave_end_date %></td>
          <td class="<%= leave.leave_status.downcase %>"><%= leave.leave_status.upcase %></td>
          <td>
            <% case leave.leave_status.downcase %>
              <% when 'pending' %>
                <% if current_user.is_admin && !current_user.eql?(leave.user) %>
                  <%= link_to 'Approve', leafe_path(leave, uaction: 'approve', luid: params[:luid]), class: 'btn btn-success btn-xs', data: { method: :patch, confirm: 'Are you sure you want to approve this leave application?' } %>
                  <%= link_to 'Disapprove', '#', class: 'reason-form-btn btn btn-danger btn-xs', data: { action: 'disapprove', id: leave.id } %>
                <% end %>

                <%= link_to 'Cancel', '#', class: 'reason-form-btn btn btn-warning btn-xs', data: { action: 'cancel', id: leave.id } if leave.user.eql?(current_user) %>
              <% when 'approved' %>
                <%= link_to 'Cancel', '#', class: 'reason-form-btn btn btn-warning btn-xs', data: { action: 'cancel', id: leave.id } if leave.user.eql?(current_user) if !Date.parse(leave.leave_start_date).past? && current_user.eql?(leave.user) %>
              <% when 'disapproved' %>
                <%= link_to 'View Reason', '#', class: 'btn btn-info btn-xs reason-modal', data: { status: 'disapproved', reason: leave.reason_for_disapproval, remote: true } %>
              <% when 'canceled' %>
                <%= link_to 'View Reason', '#', class: 'btn btn-info btn-xs reason-modal', data: { status: 'canceled', reason: leave.reason_for_cancelation, remote: true } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>