<div class="modal fade" id="reason-modal" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <%= button_tag type: 'button', class: 'close', data: { dismiss: 'modal' }, aria: { label: 'close' } do %>
          <%= content_tag :span, 'x', aria: { hidden: true } %>
        <% end %>
        
        <h4 class="modal-title">Reason for <span class="what"></span></h4>
      </div>

      <div class="modal-body" id="reason-modal-body"></div>

      <div class="modal-footer">
        <%= button_tag 'Close', class: 'btn btn-default pull-left', data: { dismiss: 'modal' } %>
      </div>
    </div>
  </div>
</div>