<div class="modal fade" id="reason-form-modal" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <%= button_tag type: 'button', class: 'close', data: { dismiss: 'modal' }, aria: { label: 'close' } do %>
          <%= content_tag :span, 'x', aria: { hidden: true } %>
        <% end %>
        
        <h4 class="modal-title">Reason for <span class="what"></span></h4>
      </div>

      <%= form_tag '', method: :patch, id: 'reason-form' do %>
        <%= hidden_field_tag :uaction, nil, id: 'uaction' %>
        <%= hidden_field_tag :luid, params[:luid] %>

        <div class="modal-body">
          <div class="form-group">
            <label>Reason for <span class="what"></span></label>

            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-align-left"></i>
              </div>

              <%= text_area_tag 'reason', nil, id: 'reason', class: 'form-control', cols: 30, rows: 5 %>
            </div>
          </div>
        </div>
        
        <div class="modal-footer">
          <%= button_tag 'Close', class: 'btn btn-default pull-left', data: { dismiss: 'modal' } %>
          <%= submit_tag 'Submit', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>