<section class="content-header">
  <h1>
    <i class="fa fa-clock-o"></i> Shifts and Schedules Management
  </h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Leave Tracker</h3>

					<div class="box-tools">
						<%= link_to 'Remaining Leaves', '#', class: 'btn btn-primary', id: 'remaining-leaves-btn', data: { id: params[:id] } %>
						<%= link_to 'Back', users_path(luid: params[:luid]), class: 'btn btn-default' %>
			    </div>
				</div>

				<div class="box-body table-responsive">
					<%= render partial: 'shifts_and_schedules/leave_tracker/partials/list' %>
				</div>
			</div>
		</div>
	</div>
</section>

<%= render partial: 'shifts_and_schedules/leave_tracker/partials/remaining_leaves_modal' %>