<section class="content-header">
  <div class="alert-message">
    <%= render partial: 'partials/alert_message' %>
  </div>
  
  <h1>
    <i class="fa fa-clock-o"></i> Shifts and Schedules Management
  </h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">My Shifts and Schedules</h3>
					<div class="box-tools">
						<%= link_to 'Manage Shifts and Schedules', edit_shifts_and_schedule_path(@user, luid: params[:luid]), class: 'btn btn-primary' if current_user.is_admin %>
						<%= link_to 'Back', users_path(luid: params[:luid]), class: 'btn btn-default' %>
			    </div>
				</div>

				<div class="box-body">
					<%= render partial: 'shifts_and_schedules/partials/list' %>
				</div>
			</div>
		</div>
	</div>
</section>