<%= form_for @holiday do |v| %>
  <%= hidden_field_tag :luid, params[:luid] %>

	<div class="box-header with-border">
		<h3 class="box-title">Company Holiday Form</h3>
		<div class="box-tools">
			<%= link_to 'Back', company_holidays_path(luid: params[:luid]), class: 'btn btn-default' %>
    </div>
	</div>

	<div class="box-body">
		<div class="form-group">
      <%= v.label :holiday_date %>

      <div class="input-group date">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>

        <%= v.text_field :holiday_date, class: 'form-control', required: true, readonly: true %>
      </div>
    </div>

    <div class="form-group">
      <%= v.label :description %>

      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-align-left"></i>
        </div>

        <%= v.text_area :description, class: 'form-control', cols: 30, rows: 5, placeholder: 'Holiday description', required: true %>
      </div>
    </div>
	</div>

	<div class="box-footer">
		<div class="pull-right">
			<%= v.submit class: 'btn btn-primary' %>
    </div>
	</div>
<% end %>