<table class="table table-striped">
	<thead>
		<tr>
			<th>Date</th>
			<th>Description</th>
			<% if current_user.is_admin %>
				<th>Actions</th>
			<% end %>
		</tr>
	</thead>

	<tbody>
		<% if @holidays.empty? %>
			<tr>
				<td colspan="6" align="center">No company holidays available.</td>
			</tr>
		<% else %>
			<% @holidays.each do |ch| %>
				<tr>
					<td><%= ch.holiday_date.strftime('%B %d, %Y') %></td>
					<td><%= ch.description %></td>
					<% if current_user.is_admin %>
						<td>
							<%= link_to edit_company_holiday_path(ch, luid: params[:luid]), class: 'btn btn-primary btn-xs' do %>
								<%= content_tag :i, '', :class => 'fa fa-pencil' %> Edit
							<% end %>

							<%= link_to company_holiday_path(ch, luid: params[:luid]), class: 'btn btn-danger btn-xs', data: { method: :delete, remote: true, confirm: 'Are you sure you want to delete holiday?' } do %>
								<%= content_tag :i, '', :class => 'fa fa-trash' %> Delete
							<% end %>
						</td>
					<% end %>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>