<!DOCTYPE html>
<html style="height: auto;">
  <head>
    <title>Advanced System Design and Implementation | <%= params[:controller].humanize.capitalize %></title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'hris_mod_3' %>
    <%= stylesheet_link_tag "#{params[:controller]}" %>
    <%= stylesheet_link_tag "#{params[:controller]}/#{params[:action]}" %>
  </head>

  <body class="skin-yellow sidebar-mini wysihtml5-supported" style="height: auto;" cz-shortcut-listen="true">
  	<div class="wrapper" style="height: auto;">
  		<%= render :partial => 'partials/header' %>
  		<%= render :partial => 'partials/sidebar' %>
			<%= render :partial => 'partials/content' %>
  		<%= render :partial => 'partials/footer' %>
  	</div>
  </body>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'hris_mod_3' %>
  <%= javascript_include_tag "#{params[:controller]}" %>
  <%= javascript_include_tag "#{params[:controller]}/#{params[:action]}" %>
</html>
